@using Entities;
@model List<Order>;
@{
    ViewData["Title"] = "Главная страница";
}

<!--Фильтр-->

<table>
  <tr>
    <td>Номер</td>
    <td>Дата</td>
    <td>Провайдер</td>
    <td>Изменить</td>
    <td>Удалить</td>
  </tr>
  @foreach(var el in Model)
    {
       <tr>
            <td>@el.Number</td>
            <td>@el.Date</td>
            <td>@el.Id</td>
            <td><a href="@Url.ActionLink("Update", "Home", new {id = @el.Id})">Изменить</a></td>
            <td><a href="@Url.ActionLink("Delete", "Home", new {id = @el.Id})">Удалить</a></td>
       </tr> 
    }
</table>

<a href="@Url.ActionLink("Update", "Home")">Добавить</a>

